.Header {
    background: #878eb3;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 2rem;
    // margin-top: 5px;
    padding: 3rem;
    overflow: hidden;
    align-items: center;

    .item {
        color: ivory;
        padding: 6rem;
        font-size: 4.5rem;
    }
}

