.MainComponent {
    display: flex;
    
    button {
        background: white;
        outline: 1rem;
        border-radius: 1rem;
        border-color: darkolivegreen;
        color: black;
        padding: 2rem;
        margin-top: 5rem;
        margin-left: 5rem;
        margin-right: 5rem;
        font-size: 5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.1s background ease-in;

        &:hover {
        background: #adb5bd;
        }
    }
}